**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE: Jessica López García
*   MATRÍCULA: A01795373

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [2]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [3]:
# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crea una conexión para luego invocar declaraciones SQL
conn = db.connect()

In [4]:
from sqlalchemy import create_engine

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión
connection = engine.connect()

In [5]:
!pip show sqlalchemy
!pip show pymysql

Name: SQLAlchemy
Version: 2.0.20
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: /usr/local/lib/python3.10/dist-packages
Requires: greenlet, typing-extensions
Required-by: ipython-sql
Name: PyMySQL
Version: 1.1.0
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License: MIT License
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by:

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [6]:
import sqlalchemy as sqla
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Obtener información sobre la tabla "productlines" utilizando reflection
metadata = sqla.MetaData()
metadata.reflect(bind=db)

# Obtener la tabla "productlines"
productlines_table = metadata.tables['productlines']

# Ejecutar una consulta SQL para obtener la información de las líneas de productos
query = productlines_table.select()
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Obtener los nombres de las columnas
column_names = result.keys()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=column_names, tablefmt="grid")
print(table)

+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| productLine      | textDescription                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 | htmlDescription   | image   |
+==================+=================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================+===================+=========+
| Classic Cars     | Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking for classic muscle cars, dream sports cars or movie-inspired miniatures, you will find great choices in this category. These replicas feature superb attention to detail and craftsmanship and offer features such as working steering system, opening forward compartment, opening rear trunk with removable spare wheel, 4-wheel independent spring suspension, and so on. The models range in size from 1:10 to 1:24 scale and include numerous limited edition and several out-of-production vehicles. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office. |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| Motorcycles      | Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends such as Harley Davidson, Ducati and Vespa. Models contain stunning details such as official logos, rotating wheels, working kickstand, front suspension, gear-shift lever, footbrake lever, and drive chain. Materials used include diecast and plastic. The models range in size from 1:10 to 1:50 scale and include numerous limited edition and several out-of-production vehicles. All models come fully assembled and ready for display in the home or office. Most include a certificate of authenticity.                                                                                                                                             |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| Planes           | Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning details such as official logos and insignias, rotating jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.                                                                                                                                                                                                                                                                                                                                                                                               |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| Ships            | The perfect holiday or anniversary gift for executives, clients, friends, and family. These handcrafted model ships are unique, stunning works of art that will be treasured for generations! They come fully assembled and ready for display in the home or office. We guarantee the highest quality, and best value.                                                                                                                                                                                                                                                                                                                                                                                                                                          |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| Trains           | Model trains are a rewarding hobby for enthusiasts of all ages. Whether you're looking for collectible wooden trains, electric streetcars or locomotives, you'll find a number of great choices for any budget within this category. The interactive aspect of trains makes toy trains perfect for young children. The wooden train sets are ideal for children under the age of 5.                                                                                                                                                                                                                                                                                                                                                                             |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| Trucks and Buses | The Truck and Bus models are realistic replicas of buses and specialized trucks produced from the early 1920s to present. The models range in size from 1:12 to 1:50 scale and include numerous limited edition and several out-of-production vehicles. Materials used include tin, diecast and plastic. All models include a certificate of authenticity from their manufacturers and are a perfect ornament for the home and office.                                                                                                                                                                                                                                                                                                                          |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+
| Vintage Cars     | Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, plastic and wood. Most of the replicas are in the 1:18 and 1:24 scale sizes, which provide the optimum in detail and accuracy. Prices range from $30.00 up to $180.00 for some special limited edition replicas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.                                                                                                                                                                                                                                            |                   |         |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------+

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
db = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión
conn = db.connect()

# 2. La información de las líneas de productos.
consulta_2 = text("SELECT * FROM productlines")
df_2 = pd.read_sql(consulta_2, conn)
print("2. La información de las líneas de productos:")
print(df_2)

2. La información de las líneas de productos:
        productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

  htmlDescription image
0            None  None
1            None  None
2            None  None
3            None  None
4            None  None
5            None  None
6            None  None

3.	Los empleados ordenados por nombre.

In [ ]:
import sqlalchemy as sqla
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Obtener información sobre la tabla "employees" utilizando reflection
metadata = sqla.MetaData()
metadata.reflect(bind=db)

# Obtener la tabla "employees"
employees_table = metadata.tables['employees']

# Definir una consulta SQL para obtener los empleados ordenados por nombre
query = employees_table.select().order_by(employees_table.c.lastName, employees_table.c.firstName)

# Ejecutar la consulta SQL
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Obtener los nombres de las columnas
column_names = result.keys()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=column_names, tablefmt="grid")
print(table)

+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|   employeeNumber | lastName   | firstName   | extension   | email                           |   officeCode |   reportsTo | jobTitle             |
+==================+============+=============+=============+=================================+==============+=============+======================+
|             1102 | Bondur     | Gerard      | x5408       | gbondur@classicmodelcars.com    |            4 |        1056 | Sale Manager (EMEA)  |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1337 | Bondur     | Loui        | x6493       | lbondur@classicmodelcars.com    |            4 |        1102 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1501 | Bott       | Larry       | x2311       | lbott@classicmodelcars.com      |            7 |        1102 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1143 | Bow        | Anthony     | x5428       | abow@classicmodelcars.com       |            1 |        1056 | Sales Manager (NA)   |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1401 | Castillo   | Pamela      | x2759       | pcastillo@classicmodelcars.com  |            4 |        1102 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1076 | Firrelli   | Jeff        | x9273       | jfirrelli@classicmodelcars.com  |            1 |        1002 | VP Marketing         |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1188 | Firrelli   | Julie       | x2173       | jfirrelli@classicmodelcars.com  |            2 |        1143 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1611 | Fixter     | Andy        | x101        | afixter@classicmodelcars.com    |            6 |        1088 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1702 | Gerard     | Martin      | x2312       | mgerard@classicmodelcars.com    |            4 |        1102 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1370 | Hernandez  | Gerard      | x2028       | ghernande@classicmodelcars.com  |            4 |        1102 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1165 | Jennings   | Leslie      | x3291       | ljennings@classicmodelcars.com  |            1 |        1143 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1504 | Jones      | Barry       | x102        | bjones@classicmodelcars.com     |            7 |        1102 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1625 | Kato       | Yoshimi     | x102        | ykato@classicmodelcars.com      |            5 |        1621 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1619 | King       | Tom         | x103        | tking@classicmodelcars.com      |            6 |        1088 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1612 | Marsh      | Peter       | x102        | pmarsh@classicmodelcars.com     |            6 |        1088 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1002 | Murphy     | Diane       | x5800       | dmurphy@classicmodelcars.com    |            1 |             | President            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1621 | Nishi      | Mami        | x101        | mnishi@classicmodelcars.com     |            5 |        1056 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1056 | Patterson  | Mary        | x4611       | mpatterso@classicmodelcars.com  |            1 |        1002 | VP Sales             |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1216 | Patterson  | Steve       | x4334       | spatterson@classicmodelcars.com |            2 |        1143 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1088 | Patterson  | William     | x4871       | wpatterson@classicmodelcars.com |            6 |        1056 | Sales Manager (APAC) |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1166 | Thompson   | Leslie      | x4065       | lthompson@classicmodelcars.com  |            1 |        1143 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1286 | Tseng      | Foon Yue    | x2248       | ftseng@classicmodelcars.com     |            3 |        1143 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+
|             1323 | Vanauf     | George      | x4102       | gvanauf@classicmodelcars.com    |            3 |        1143 | Sales Rep            |
+------------------+------------+-------------+-------------+---------------------------------+--------------+-------------+----------------------+

In [ ]:
import pymysql.cursors
import pandas as pd

# Conectarse a la base de datos
connection = pymysql.connect(
    host='20.106.157.52',
    user='mnaTC4029User',
    password='mnaTC4029Pass!',
    database='classicmodels',
    cursorclass=pymysql.cursors.DictCursor
)

# Punto 3: Los empleados ordenados por nombre
consulta_3 = "SELECT * FROM employees ORDER BY lastName, firstName"
df_3 = pd.read_sql(consulta_3, connection)

# Mostrar los resultados en una tabla de Pandas
df_3.style.hide_index()

<ipython-input-33-e8516966045a>:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3 = pd.read_sql(consulta_3, connection)
<ipython-input-33-e8516966045a>:18: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df_3.style.hide_index()

4.	Los países donde hay oficinas.

In [ ]:
import pymysql.cursors

# Conectarse a la base de datos
connection = pymysql.connect(
    host='20.106.157.52',
    user='mnaTC4029User',
    password='mnaTC4029Pass!',
    database='classicmodels',
    cursorclass=pymysql.cursors.DictCursor
)

try:
    # Punto 4: Los países donde hay oficinas
    consulta_4 = "SELECT DISTINCT country FROM offices"

    with connection.cursor() as cursor:
        cursor.execute(consulta_4)
        resultado_4 = cursor.fetchall()

    # Imprimir los países
    print("4. Los países donde hay oficinas:")
    for row in resultado_4:
        print(row['country'])

finally:
    # Cerrar la conexión
    connection.close()

4. Los países donde hay oficinas:
USA
France
Japan
Australia
UK

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión a la base de datos
conn = engine.connect()

# Consulta SQL para obtener los países donde hay oficinas
consulta = text("""
    SELECT DISTINCT country
    FROM offices;
""")

# Ejecutar la consulta y cargar los resultados en un DataFrame
df = pd.read_sql(consulta, conn)

# Mostrar el DataFrame con los países donde hay oficinas
print("Países donde hay oficinas:")
print(df)

# Cerrar la conexión
conn.close()

Países donde hay oficinas:
     country
0        USA
1     France
2      Japan
3  Australia
4         UK

5.	El nombre y teléfono de los clientes de Nueva York (*NYC*).

In [ ]:
import sqlalchemy as sqla
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Obtener información sobre la tabla "customers" utilizando reflection
metadata = sqla.MetaData()
metadata.reflect(bind=db)

# Obtener la tabla "customers"
customers_table = metadata.tables['customers']

# Ejecutar una consulta SQL para obtener el nombre y teléfono de los clientes de Nueva York (NYC)
query = customers_table.select().where(customers_table.c.city == 'NYC')

# Ejecutar la consulta SQL y obtener los resultados
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Obtener los nombres de las columnas
column_names = result.keys()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=column_names, tablefmt="grid")
print(table)

+------------------+----------------------+-------------------+--------------------+------------+---------------------------+----------------+--------+---------+--------------+-----------+--------------------------+---------------+
|   customerNumber | customerName         | contactLastName   | contactFirstName   |      phone | addressLine1              | addressLine2   | city   | state   |   postalCode | country   |   salesRepEmployeeNumber |   creditLimit |
+==================+======================+===================+====================+============+===========================+================+========+=========+==============+===========+==========================+===============+
|              131 | Land of Toys Inc.    | Lee               | Kwai               | 2125557818 | 897 Long Airport Avenue   |                | NYC    | NY      |        10022 | USA       |                     1323 |        114900 |
+------------------+----------------------+-------------------+--------------------+------------+---------------------------+----------------+--------+---------+--------------+-----------+--------------------------+---------------+
|              151 | Muscle Machine Inc   | Young             | Jeff               | 2125557413 | 4092 Furth Circle         | Suite 400      | NYC    | NY      |        10022 | USA       |                     1286 |        138500 |
+------------------+----------------------+-------------------+--------------------+------------+---------------------------+----------------+--------+---------+--------------+-----------+--------------------------+---------------+
|              181 | Vitachrome Inc.      | Frick             | Michael            | 2125551500 | 2678 Kingston Rd.         | Suite 101      | NYC    | NY      |        10022 | USA       |                     1286 |         76400 |
+------------------+----------------------+-------------------+--------------------+------------+---------------------------+----------------+--------+---------+--------------+-----------+--------------------------+---------------+
|              424 | Classic Legends Inc. | Hernandez         | Maria              | 2125558493 | 5905 Pompton St.          | Suite 750      | NYC    | NY      |        10022 | USA       |                     1286 |         67500 |
+------------------+----------------------+-------------------+--------------------+------------+---------------------------+----------------+--------+---------+--------------+-----------+--------------------------+---------------+
|              456 | Microscale Inc.      | Choi              | Yu                 | 2125551957 | 5290 North Pendale Street | Suite 200      | NYC    | NY      |        10022 | USA       |                     1286 |         39800 |
+------------------+----------------------+-------------------+--------------------+------------+---------------------------+----------------+--------+---------+--------------+-----------+--------------------------+---------------+

In [ ]:
import pymysql.cursors
import pandas as pd

# Conectarse a la base de datos
connection = pymysql.connect(
    host='20.106.157.52',
    user='mnaTC4029User',
    password='mnaTC4029Pass!',
    database='classicmodels',
    cursorclass=pymysql.cursors.DictCursor
)

try:
    # Punto 5: Nombres, números de teléfono, país y ciudad de clientes en Nueva York
    consulta_nyc = """
    SELECT customerName, phone, country, city
    FROM customers
    WHERE city = 'NYC'
    """

    with connection.cursor() as cursor:
        cursor.execute(consulta_nyc)
        resultado_nyc = cursor.fetchall()

    # Crear un DataFrame con los resultados
    df = pd.DataFrame(resultado_nyc)

    # Mostrar el DataFrame como una tabla
    print("\nInformación de clientes en Nueva York:")
    print(df)

finally:
    # Cerrar la conexión
    connection.close()

Información de clientes en Nueva York:
           customerName       phone country city
0     Land of Toys Inc.  2125557818     USA  NYC
1    Muscle Machine Inc  2125557413     USA  NYC
2       Vitachrome Inc.  2125551500     USA  NYC
3  Classic Legends Inc.  2125558493     USA  NYC
4       Microscale Inc.  2125551957     USA  NYC

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [ ]:
import sqlalchemy as sqla
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Obtener información sobre la tabla "products" utilizando reflection
metadata = sqla.MetaData()
metadata.reflect(bind=db)

# Obtener la tabla "products"
products_table = metadata.tables['products']

# Ejecutar una consulta SQL para obtener el código y nombre de los productos del vendedor "Gearbox Collectibles" con menos de 1000 unidades en stock
query = products_table.select().where(
    (products_table.c.productVendor == 'Gearbox Collectibles') &
    (products_table.c.quantityInStock < 1000)
)

# Ejecutar la consulta SQL y obtener los resultados
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Obtener los nombres de las columnas
column_names = result.keys()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=column_names, tablefmt="grid")
print(table)

+---------------+------------------------+---------------+----------------+----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+
| productCode   | productName            | productLine   | productScale   | productVendor        | productDescription                                                                                                                                                                                         |   quantityInStock |   buyPrice |   MSRP |
+===============+========================+===============+================+======================+============================================================================================================================================================================================================+===================+============+========+
| S18_2581      | P-51-D Mustang         | Planes        | 1:72           | Gearbox Collectibles | Has retractable wheels and comes with a stand                                                                                                                                                              |               992 |      49    |  84.48 |
+---------------+------------------------+---------------+----------------+----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+
| S18_2795      | 1928 Mercedes-Benz SSK | Vintage Cars  | 1:18           | Gearbox Collectibles | This 1:18 replica features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed and wired engine. Color black. |               548 |      72.56 | 168.75 |
+---------------+------------------------+---------------+----------------+----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión a la base de datos
conn = engine.connect()

# Consulta SQL para obtener el código y nombre de los productos del vendedor "Gearbox Collectibles" con menos de 1000 unidades en stock
consulta = text("""
    SELECT productCode, productName
    FROM products
    WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000;
""")

# Ejecutar la consulta y cargar los resultados en un DataFrame
df = pd.read_sql(consulta, conn)

# Mostrar el DataFrame con los resultados
print("Código y nombre de los productos del vendedor 'Gearbox Collectibles' con menos de 1000 unidades en stock:")
print(df)

# Cerrar la conexión
conn.close()

Código y nombre de los productos del vendedor 'Gearbox Collectibles' con menos de 1000 unidades en stock:
  productCode             productName
0    S18_2581          P-51-D Mustang
1    S18_2795  1928 Mercedes-Benz SSK

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [ ]:
import sqlalchemy as sqla
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Obtener información sobre la tabla "products" utilizando reflection
metadata = sqla.MetaData()
metadata.reflect(bind=db)

# Obtener la tabla "products"
products_table = metadata.tables['products']

# Ejecutar una consulta SQL para obtener los tres productos más caros según el buyPrice
query = products_table.select().order_by(products_table.c.buyPrice.desc()).limit(3)

# Ejecutar la consulta SQL y obtener los resultados
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Obtener los nombres de las columnas
column_names = result.keys()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=column_names, tablefmt="grid")
print(table)

+---------------+--------------------------------+---------------+----------------+-------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+
| productCode   | productName                    | productLine   | productScale   | productVendor           | productDescription                                                                                                                                                |   quantityInStock |   buyPrice |   MSRP |
+===============+================================+===============+================+=========================+===================================================================================================================================================================+===================+============+========+
| S10_4962      | 1962 LanciaA Delta 16V         | Classic Cars  | 1:10           | Second Gear Diecast     | Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis. |              6791 |     103.42 | 147.74 |
+---------------+--------------------------------+---------------+----------------+-------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+
| S18_2238      | 1998 Chrysler Plymouth Prowler | Classic Cars  | 1:18           | Gearbox Collectibles    | Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.                   |              4724 |     101.51 | 163.73 |
+---------------+--------------------------------+---------------+----------------+-------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+
| S10_1949      | 1952 Alpine Renault 1300       | Classic Cars  | 1:10           | Classic Metal Creations | Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.                   |              7305 |      98.58 | 214.3  |
+---------------+--------------------------------+---------------+----------------+-------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+------------+--------+

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión a la base de datos
conn = engine.connect()

# Consulta SQL para obtener los tres productos más caros desde el punto de vista de los comercializadores
consulta = text("""
    SELECT productCode, productName, buyPrice
    FROM products
    ORDER BY buyPrice DESC
    LIMIT 3;
""")

# Ejecutar la consulta y cargar los resultados en un DataFrame
df = pd.read_sql(consulta, conn)

# Mostrar el DataFrame con los resultados
print("Los tres productos más caros desde el punto de vista de los comercializadores:")
print(df)

# Cerrar la conexión
conn.close()

Los tres productos más caros desde el punto de vista de los comercializadores:
  productCode                     productName  buyPrice
0    S10_4962          1962 LanciaA Delta 16V    103.42
1    S18_2238  1998 Chrysler Plymouth Prowler    101.51
2    S10_1949        1952 Alpine Renault 1300     98.58

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [ ]:
import sqlalchemy as sqla
from sqlalchemy import func

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Ejecutar una consulta SQL para obtener la cantidad de productos por línea de producto
query = sqla.select([
    sqla.column('productLine'),
    func.count().label('Cantidad_de_Productos')
]).group_by(sqla.column('productLine'))

# Ejecutar la consulta SQL y obtener los resultados
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Cerrar la conexión
conn.close()

# Mostrar los resultados
for row in results:
    print(f"Línea de Producto: {row['productLine']}, Cantidad de Productos: {row['Cantidad_de_Productos']}")

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión a la base de datos
conn = engine.connect()

# Consulta SQL para obtener la cantidad de productos por línea de producto
consulta = text("""
    SELECT productLine, COUNT(*) AS cantidad_productos
    FROM products
    GROUP BY productLine;
""")

# Ejecutar la consulta y cargar los resultados en un DataFrame
df = pd.read_sql(consulta, conn)

# Mostrar el DataFrame con los resultados
print("Cantidad de productos por línea de producto:")
print(df)

# Cerrar la conexión
conn.close()

Cantidad de productos por línea de producto:
        productLine  cantidad_productos
0      Classic Cars                  38
1       Motorcycles                  13
2            Planes                  12
3             Ships                   9
4            Trains                   3
5  Trucks and Buses                  11
6      Vintage Cars                  24

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [ ]:
import sqlalchemy as sqla
from sqlalchemy import func
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Definir las tablas
offices = sqla.Table('offices', sqla.MetaData(), autoload=True, autoload_with=db)
employees = sqla.Table('employees', sqla.MetaData(), autoload=True, autoload_with=db)

# Ejecutar una consulta SQL para obtener la cantidad de empleados por país
query = sqla.select([
    offices.c.country,
    func.count().label('Cantidad_de_Empleados')
]).select_from(
    sqla.join(
        offices,
        employees,
        offices.c.officeCode == employees.c.officeCode
    )
).group_by(offices.c.country)

# Ejecutar la consulta SQL y obtener los resultados
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=result.keys(), tablefmt="grid")
print(table)

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión a la base de datos
conn = engine.connect()

# Consulta SQL para obtener la cantidad de empleados por país
consulta = text("""
    SELECT o.country, COUNT(e.employeeNumber) AS cantidad_empleados
    FROM offices AS o
    JOIN employees AS e ON o.officeCode = e.officeCode
    GROUP BY o.country;
""")

# Ejecutar la consulta y cargar los resultados en un DataFrame
df = pd.read_sql(consulta, conn)

# Mostrar el DataFrame con los resultados
print("Cantidad de empleados por país (tomando en cuenta la ubicación de la oficina):")
print(df)

# Cerrar la conexión
conn.close()

Cantidad de empleados por país (tomando en cuenta la ubicación de la oficina):
     country  cantidad_empleados
0  Australia                   4
1     France                   5
2      Japan                   2
3         UK                   2
4        USA                  10

10.	El promedio de los pagos de cada uno de los clientes de España.

In [ ]:
import sqlalchemy as sqla
from tabulate import tabulate

# Crear el motor y la conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels')
conn = db.connect()

# Ejecutar una consulta SQL para calcular el promedio de los pagos de cada cliente de España
query = """
SELECT c.customerName, AVG(p.amount) AS Promedio_de_Pagos
FROM customers c
JOIN payments p ON c.customerNumber = p.customerNumber
WHERE c.country = 'Spain'
GROUP BY c.customerName;
"""

# Ejecutar la consulta SQL y obtener los resultados
result = conn.execute(query)

# Obtener los resultados en forma de lista de tuplas
results = result.fetchall()

# Obtener los nombres de las columnas
column_names = result.keys()

# Cerrar la conexión
conn.close()

# Formatear y mostrar los resultados en una tabla
table = tabulate(results, headers=column_names, tablefmt="grid")
print(table)

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema)
engine = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión a la base de datos
conn = engine.connect()

# Consulta SQL para obtener el promedio de los pagos de clientes de España
consulta = text("""
    SELECT c.customerNumber, c.customerName, AVG(p.amount) AS promedio_pago
    FROM customers AS c
    JOIN payments AS p ON c.customerNumber = p.customerNumber
    WHERE c.country = 'Spain'
    GROUP BY c.customerNumber, c.customerName;
""")

# Ejecutar la consulta y cargar los resultados en un DataFrame
df = pd.read_sql(consulta, conn)

# Mostrar el DataFrame con los resultados
print("Promedio de los pagos de cada cliente de España:")
print(df)

# Cerrar la conexión
conn.close()

Promedio de los pagos de cada cliente de España:
   customerNumber                customerName  promedio_pago
0             141      Euro+ Shopping Channel   55056.844615
1             216          Enaco Distributors   22840.156667
2             344                 CAF Imports   23375.570000
3             458  Corrida Auto Replicas, Ltd   37480.030000
4             484  Iberia Gift Imports, Corp.   25493.925000

# **Parte 2**. Manipulación de datos con Pandas

In [7]:
import pandas as pd

In [8]:
from sqlalchemy import create_engine, text
import pandas as pd

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas. Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

**Están dentro de las mismas preguntas uno método después del otro**

---

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [9]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [12]:
from google.colab import drive
file_path = "/content/drive/My Drive/veterinary.json"

In [22]:
import firebase_admin
from firebase_admin import credentials

# Ruta al archivo veterinary.json en Google Drive
drive_file_path = "/content/drive/My Drive/TecMty/veterinary.json"

# Cargar las credenciales desde el archivo en Google Drive
cred = credentials.Certificate(drive_file_path)

# Inicializar la aplicación Firebase
firebase_admin.initialize_app(cred)

# Ahora puedes usar la base de datos Firestore de Firebase

In [25]:
if not firebase_admin._apps:
    cred = credentials.Certificate('/content/drive/My Drive/TecMty/veterinary.json')
    firebase_admin.initialize_app(cred)

In [46]:
import firebase_admin
from firebase_admin import credentials, firestore

# Verificar si Firebase ya está inicializado
if not firebase_admin._apps:
    # Ruta al archivo JSON de credenciales de Firebase
    cred = credentials.Certificate('/content/drive/My Drive/TecMty/veterinary.json')

    # Inicializar la aplicación Firebase
    firebase_admin.initialize_app(cred)

# Crear una instancia del cliente Firestore
db = firestore.client()

# Ahora puedes usar 'db' para interactuar con Firestore

12.	Investiga cómo leer la colección `PET_OWNER` y mostrar su contenido en un dataframe. Asegúrate de incluir el id en el resultado

In [30]:
import pandas as pd
from google.cloud import firestore

In [32]:
# Crea una instancia del cliente Firestore
db = firestore.Client()

In [33]:
# Lee la colección PET_OWNER
pet_owner_ref = db.collection('PET_OWNER')
pet_owners = pet_owner_ref.stream()

In [35]:
data = []
for pet_owner in pet_owners:
    pet_owner_data = pet_owner.to_dict()
    pet_owner_data['id'] = pet_owner.id
    data.append(pet_owner_data)

In [36]:
df = pd.DataFrame(data)

In [20]:
firebase_admin.delete_app(firebase_admin.get_app())

In [37]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)